<!DOCTYPE html>
<meta charset="utf-8">
<head>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.6/dc.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-geo/1.6.4/d3-geo.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
  <script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/js/crossfilter.js' %}"></script>
  <script src="{% static 'lib/js/keen.min.js' %}"></script>
  <script src="{% static 'lib/js/dc.js' %}"></script>
    <script src="{% static 'lib/js/dc-leaflet.js' %}"></script>
  <script src="{% static 'lib/js/dc-tooltip-mixin.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/dc-leaflet-legend.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/dc-tooltip-mixin.min.css' %}">

    <style>
        .dc-chart g.row text {fill: black;}
    </style>

</head>
<h2 style="color: white">Total Ubicaciones</h2>
<body style="background-color: black">
<div id = "row-chart">

    <div id = "RD-chart">

    </div>
    <div id = "region-chart">
        <div class="row" style="display: inline;">
            <div class="col-md-6">
                <h4 id = "Title" style="text-align: center">Región</h4>
            </div>
            <div class = "col-md-6">
                <button id = "Back" class="btn btn-primary pull-right">Atrás</button>
            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.6/dc.js"></script>
<script>
            var url = "{% url "INFO_Provincias" %}"
</script>




<script>
    queue()
        .defer(d3.json, url)
        .await(makeGraphs);

    function makeGraphs(error,ProvJson) {
        $("#Back").hide();
        $("#provincia-chart").hide();
        var geoJson = ProvJson["Geo"];
        var cross = crossfilter(ProvJson["Censo"]);

        //Dimensions
        console.log(ProvJson["Censo"]["Region"]);
        var regionDim = cross.dimension(function(d){return d["Region"]});

        /*
        var  dimensiones = ["Region","Provincia","Municipio","Distrito","Seccion","Barrio"];

        var filters = [null,null,null,null,null,null];
        var dims = [null,null,null,null,null,null];
        //Data Groups

        var all = cross.groupAll();
        var byRegion = regionDim.group();
    /*
        var byProvincia = provinciaDim.group();
        var byMunicipio = municipioDim.group();
        var byDistrito = distritoDim.group();
        var bySeccion = seccionDim.group();
        var byBarrio = barrioDim.group();
*/
        var totalByRegion = regionDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });

        /*
        var totalByProvincia = provinciaDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });
        var totalByMunicipio= municipioDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });
        var totalByDistrito = distritoDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });
        var totalBySeccion = seccionDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });
        var totalByBarrio = barrioDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });

        var values = [totalByRegion,totalByProvincia,totalByMunicipio,totalByDistrito,totalBySeccion,totalByBarrio];
*/
        var max_region = totalByRegion.top(1)[0].value;
        console.log(max_region);
        // Graficos

        var MasterChart = dc.rowChart("#region-chart");
        var MapChart = dc.geoChoroplethChart("#RD-chart");


        MapChart.width(990)
                    .height(500)
                    .dimension(regionDim)
                    .group(totalByRegion)
                    .colors(d3.scale.quantize().range(
                        ["#E2F2FF", "#C4E4FF", "#9ED2FF", "#81C5FF", "#6BBAFF", "#51AEFF", "#36A2FF", "#1E96FF", "#0089FF", "#0061B5"]))
                    .colorDomain([0, max_region])
                    .colorCalculator(function (d) { return d ? MapChart.colors()(d) : '#ccc'; })
            .projection(d3.geo.equirectangular().scale(10500).center([-70.40,19.00]))
                    .overlayGeoJson(geoJson.features, "Region", function (d) {
                        console.log(d.properties.name);
                        return d.properties.name;
                    });




        MasterChart
        .width(600)
        .height(550)
        .dimension(regionDim)
        .group(totalByRegion)
            .elasticX(true)
        .xAxis().ticks(4);


        function remove_empty_bins(source_group) {
            return {
            all:function () {
                return source_group.all().filter(function(d) {
                    return d.value != 0;
                    });
                }
            };
        }

        var counter = 0;
        var check = false;
        var back = false;


        function get_dim(dimension, area,dim_anterior){
            console.log('Dimension' + dimension);
            if (area == null){
                console.log(dims[counter+1]);
                return dims[counter+1]
            }
            var dim_url = "{% url 'INFO_Ubicacion'%}?ubicacion=" + dimension + "&filtro=" + area + "&anterior="+ dim_anterior;
            var dim_json = $.ajax({
                url: dim_url,
                async: false,
                dataType: 'json'
            }).responseJSON;

            console.log(typeof(dim_json));
            cross.remove();
            cross.add(dim_json);
            var ubicacionDim = cross.dimension(function(d){return d[dimension]? d[dimension]:""});
            return ubicacionDim
        }

        MasterChart.on("filtered", function(chart){
            if (counter + 1 == dimensiones.length)
            {
                return;
            }
           filter = chart.filters();
           console.log(filter);
           area = filter[0];
           if (area != null) {
               filters[counter + 1] = area;
           }
           currentDim  = get_dim(dimensiones[counter + 1],area,dimensiones[counter]);
           currentDim.filter(area);
           MasterChart.dimension(currentDim);
           currentVal = currentDim.group().reduceSum(function(d) {return d["Cantidad"];});
           MasterChart.group(remove_empty_bins(currentVal));
           if (check == false){
               check = true;
               dims[counter + 1] = currentDim;
               MasterChart.filter(null);
               counter++;
               if (back == false)
               {
                   back = true;
                   $("#Back").show(100);
               }
           }
           $("#Title").text(dimensiones[counter]);
           check = false;
        });





        $("#Back").click( function (){
            currentDim = dimensions[counter-1];
           console.log(currentDim);
            filter = filters[counter - 1];
            currentDim.filter(filter);
            MasterChart.dimension(currentDim);
            currentVal = values[counter - 1];
            MasterChart.group(remove_empty_bins(currentVal));
            MasterChart.render();
           counter--;
           $("#Title").text(titulos[counter]);
           if (counter == 0)
           {
               $("#Back").hide(100);
               back = false;
           }
        });
        dc.renderAll();



    };
</script>
</body>
</html>