<!DOCTYPE html>
<meta charset="utf-8">
<head>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.6/dc.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
  <script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/js/crossfilter.js' %}"></script>
  <script src="{% static 'lib/js/keen.min.js' %}"></script>

    <style>
        .dc-chart g.row text {fill: black;}
    </style>

</head>
<h2>Total Ubicaciones</h2>
<body>
<div id = "row-chart">

    <div id = "region-chart">
        <div class="row" style="display: inline;">
            <div class="col-md-6">
                <h4 id = "Title" style="text-align: center">Región</h4>
            </div>
            <div class = "col-md-6">
                <button id = "Back" class="btn btn-primary pull-right">Atrás</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.6/dc.js"></script>
<script>
        var url = "{% url "INFO_Provincias" %}"
</script>




<script>
    queue()
        .defer(d3.json, url)
        .await(makeGraphs);

    function makeGraphs(error,ProvJson) {
        $("#Back").hide();
        $("#provincia-chart").hide();
        var cross = crossfilter(ProvJson);

        //Dimensions
        var regionDim = cross.dimension(function(d){return d["Region"]});
        var provinciaDim = cross.dimension(function(d){return d["Provincia"]});
        var municipioDim = cross.dimension(function(d){return d["Municipio"]});
        var distritoDim = cross.dimension(function(d){return d["Distrito"]});
        var seccionDim = cross.dimension(function(d){return d["Seccion"]});
        var barrioDim = cross.dimension(function(d){return d["Barrio"]});
        var cantidadDim = cross.dimension(function(d){return d["Cantidad"]});

         var dimensions = [regionDim,provinciaDim,municipioDim,distritoDim,seccionDim,barrioDim];

        var titulos = ["Región","Provincia","Municipio","Distrito","Sección","Barrio"];

        var filters = [null,null,null,null,null,null];
        //Data Groups

        var all = cross.groupAll();
        var byRegion = regionDim.group();
        var byProvincia = provinciaDim.group();
        var byMunicipio = municipioDim.group();
        var byDistrito = distritoDim.group();
        var bySeccion = seccionDim.group();
        var byBarrio = barrioDim.group();

        var totalByRegion = regionDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });

        var totalByProvincia = provinciaDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });
        var totalByMunicipio= municipioDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });
        var totalByDistrito = distritoDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });
        var totalBySeccion = seccionDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });
        var totalByBarrio = barrioDim.group().reduceSum(function(d) {
            return d["Cantidad"];
        });

        var values = [totalByRegion,totalByProvincia,totalByMunicipio,totalByDistrito,totalBySeccion,totalByBarrio];

        var totalCantidad = cross.groupAll().reduceSum(function(d) {return d["Cantidad"];});

        console.log(totalByRegion);

        // Graficos

        var MasterChart = dc.rowChart("#region-chart");

        /*
        ByRegionND
        .width(600)
        .height(260)
        .margins({top: 10, right: 50, bottom: 30, left: 50})
        .dimension(regionDim)
        .group(totalByRegion)
        .transitionDuration(500)
        .x(d3.scale.ordinal().rangeRoundBands([0, 600], .05).domain(regionDim))
        .xAxisLabel("Region")
        .yAxis().ticks(5);
        */
        MasterChart
        .width(600)
        .height(550)
        .dimension(regionDim)
        .group(totalByRegion)
            .elasticX(true)
        .xAxis().ticks(4);


        function remove_empty_bins(source_group) {
            return {
            all:function () {
                return source_group.all().filter(function(d) {
                    return d.value != 0;
                    });
                }
            };
        }

        var counter = 0;
        var check = false;
        var back = false;


        MasterChart.on("filtered", function(chart){
           filter = chart.filters();
           area = filter[0];
           filters[counter + 1] = area;
           currentDim  = dimensions[counter+1];
            currentDim.filter(area);
           console.log(currentDim);
            MasterChart.dimension(currentDim);
            currentVal = values[counter + 1];
           MasterChart.group(remove_empty_bins(currentVal));

           if (check == false){
               check = true;
               MasterChart.filter(null);
               counter++
               if (back == false)
               {
                   back = true;
                   $("#Back").show(100);
               }
           }
           $("#Title").text(titulos[counter]);
           check = false;

        });






        $("#Back").click( function (){
            currentDim = dimensions[counter-1];
           console.log(currentDim);
            filter = filters[counter - 1];
            currentDim.filter(filter);
            MasterChart.dimension(currentDim);
            currentVal = values[counter - 1];
            MasterChart.group(remove_empty_bins(currentVal));
            MasterChart.render();
           counter--;
           $("#Title").text(titulos[counter]);
           if (counter == 0)
           {
               $("#Back").hide(100);
               back = false;
           }
        });

        dc.renderAll();



    };
</script>
</body>
</html>